body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #222;
    overflow: hidden;
}
#gameArea {
    position: relative;
    width: 400px;
    height: 400px;
    background-color: #ddd;
    border: 2px solid #000;
}
.player, .goal, .obstacle{
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 10px;
}
.player {
    background-image: url("personagem-removebg-preview.png");
    top: 180px;
    left: 180px;
    background-size: cover;
}
.goal {
    background: green;
    top: 50px;
    left: 300px;
}
.obstacle {
    background-color: grey;
}
.obstacle1 {
    top: 100px;
    left: 100px;
}
.obstacle2 {
    top: 200px;
    left: 250px;
}
.obstacle3 {
    top: 300px;
    left: 150px;
}